<!DOCTYPE html>

<title>Academy index</title>

{% block body %}
    <h1>Academy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AcademyName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for academy in academies %}
            <tr>
                <td>{{ academy.id }}</td>
                <td>{{ academy.AcademyName }}</td>
                <td>
                    <a href="{{ path('academy_show', {'id': academy.id}) }}">show</a>
                    <a href="{{ path('academy_edit', {'id': academy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('academy_new') }}">Create new</a>
{% endblock %}
