<!DOCTYPE html>

<title>Academy</title>

{% block body %}
    <h1>Academy</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ academy.id }}</td>
            </tr>
            <tr>
                <th>AcademyName</th>
                <td>{{ academy.AcademyName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('academy_index') }}">back to list</a>

    <a href="{{ path('academy_edit', {'id': academy.id}) }}">edit</a>

    {{ include('academy/_delete_form.html.twig') }}
{% endblock %}
